body {
  width: 1600px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.row:nth-child(2), .row:nth-child(3), .row:nth-child(4) {
  width: 700px;
}

.row:nth-child(5) {
  width: 300px;
}

.row div {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
}

p {
  text-align: center;
  margin: auto;
}

.one:hover {
  background-color: red;
}

.two:hover {
  background-color: blue;
}

.three:hover {
  background-color: pink;
}

.four:hover {
  background-color: greenyellow;
}

.five:hover {
  background-color: orangered;
}

.six:hover {
  background-color: black;
}

.seven:hover {
  background-color: purple;
}

.eight:hover {
  background-color: orange;
}

.nine:hover {
  background-color: teal;
}

.ten:hover {
  background-color: skyblue;
}